1_scMultiome/1_Preprocess/data
1_scMultiome/3_DEG_WholeNucleiSeq/junk
1_scMultiome/3_DEG_WholeNucleiSeq/data
1_scMultiome/5_ScenicPlus/data
1_scMultiome/5_ScenicPlus/FIMO_summary
2_multi-nanoCT/1_Preprocess/data
2_multi-nanoCT/1_Preprocess/junk
3_Smart-seq2/data
